{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Vendedor</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/vendedor.css' %}">
</head>
<body>
    <div class="contenedor">
        <header>Perfil del Vendedor</header>
        <div class="perfil-vendedor">
            <img src="imagenes/avatar.jpg" alt="Avatar del vendedor">
            <div class="info-vendedor">
                <h2>Nombre del Vendedor</h2>
                <p>ID del Vendedor: <span id="idvendedor">123456</span></p>
                <p>Identificación: <span id="identificacion">1234567890</span></p>
                <p>Cargo: Vendedor</p>
                <p>Correo electrónico: vendedor@example.com</p>
                <p>Teléfono: +1234567890</p>
            </div>
        </div>